<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-openapi-definition.ZPM">
    <Module>
      <Name>objectscript-openapi-definition</Name>
      <Version>1.3.0</Version>
      <Description>The objectif of this library is to generate the ObjectScript Class from an OpenApi defintion.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Grongier.OpenApi.PKG"/>
    </Module>
</Document>
</Export>
